* {
  margin: 0; padding: 0; box-sizing: border-box; /* resetting default CSS */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

body {
  min-width: 1340px;
}

header {
  height: 685px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

#headerNavbar {
  height: 100px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerNavbar > a > img {
  height: 50px;
}

#headerNavbar > nav > ul > li {
  display: inline;
  list-style-type: none;
}


#headerNavbar > nav > ul > li > * {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  margin: 0;
}

#headerNavbar > nav > ul > li > a.activeNavItem {
  color: #fcd66c;
}

#headerNavbar > nav > ul > li:not(:first-child) {
  margin-left: 50px;
}

.fullCta {
  background: #fcd66c;
  font-size: 0.6rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#hero {
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero > .heroCopy {
  text-align: center;
  margin-bottom: 30px;
}

#hero > .heroCopy > h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#hero > .heroCopy > h3 {
  font-size: 0.9rem;
  margin: 10px 0;
}

.ctaButtons > button {
  margin: 0 5px;
}

.emptyCta {
  background: none;
  font-size: 0.6rem;
  padding: 10px 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.highlightCta {
  color: #fcd66c;
  border-color: #fcd66c;;
}

#numbers {
  height: 500px;
  display: flex;
}

#numbers > .numbersCopy {
  width: 890px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#numbers > .numbersStats {
  width: calc(100% - 890px);
  background-image: url("../img/numbers-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numbers > .numbersCopy > .container,
#numbers > .numbersStats > .container {
  height: 300px;
}

.whiteBg h1,
.whiteBg h2,
.whiteBg h3,
.whiteBg h4,
.whiteBg h5,
.whiteBg h6,
.whiteBg p,
.whiteBg span {
  color: #353841;
}

.divisor {
  height: 2px;
  width: 135px;
  background: #fcd66c;
  margin-top: 15px;
  margin-bottom: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
  margin: 20px 0;
  letter-spacing: normal;
  line-height: 1.5rem;
}

#numbers > .numbersCopy .copyContainer {
  margin-bottom: 20px
} 

#numbers > .numbersStats .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#numbers > .numbersStats .stat > .statCounter {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: normal;
}

#numbers > .numbersStats .stat > .statCounter > span {
  margin: 0 5px;
  font-size: 3rem;
}

#numbers > .numbersStats > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#values {
  height: 600px;
  background-image: url("../img/values-bg.jpg");
  background-size: 150%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleRow {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowItem {
  width: 250px;
  margin: 0 10px;;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowItem > h3 {
  font-size: 1rem;
  margin-top: 10px;
}

.rowItem > p {
  font-size: 0.6rem;
  text-align: center;
}

#values > .contentRow > .rowItem > i[class*="fa-"] {
  color: #fcd66c;
}

#causes {
  height: 600px;
}

#causes > .container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#causes .titleRow > h2,
#causes .titleRow > span {
  color: #353841;
}

#causes .contentRow > .rowItem > img {
  width: 100%;
}

#causes .causesCta {
  height: 100px;
  width: 100%;
  background: #ed6864;
  display: flex;
  justify-content: center;
  align-items: center;
}

#articles {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#articles > .contentRow {
  height: 400px;
  width: 800px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#articles > .contentRow .mainBox {
  height: 400px;
  width: 390px;
  display: flex;
  flex-direction: column;
}

#articles > .contentRow .sideBox {
  height: 400px;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#articles > .articlesCta {
  height: 50px;
  width: 800px;
  background: #ed6864;
  display: flex;
  justify-content: center;
  align-items: center;
}

#articles > .contentRow > .mainBox > .articlePhoto {
  height: 280px;
  overflow: hidden;
}

#articles > .contentRow > .mainBox > .articlePhoto > img {
  width: 100%;
}

#articles > .contentRow > .mainBox > .articleTitle {
  height: calc(100% - 280px);
  width: 100%;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#articles > .contentRow .articleTitle h5 {
  color: #fcd66c;
  margin-bottom: 10px;
}

#articles > .contentRow .articleTitle > p {
  margin: 0;
}

#articles > .contentRow .sideArticle {
  height: 80px;
  width: 100%;
  display: flex;
}

#articles > .contentRow .sideArticle > .articlePhoto {
  background: chocolate;
  height: 80px;
  width: 100px;
  overflow: hidden;
}

#articles > .contentRow .sideArticle > .articlePhoto > img {
  width: 100%;
}

#articles > .contentRow .sideArticle > .articleTitle {
  height: 80px;
  padding: 10px;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footerCta {
  height: 400px;
  background: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#footerCta > .titleRow {
  width: 650px;
}

#footerLogo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLogo img {
  height: 50px;
}

#credits {
  height: 100px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#credits span {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5rem;
  color: #bababc;
  margin: 0 5px;
  margin-bottom: 20px;
}

#credits > .footerCredits {
  display: flex;
  justify-content: center;
  align-items: center;
}

#credits > .footerNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#credits > .footerNavbar > .socialButton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#credits > .footerNavbar > .socialButton > i[class*="fa-"] {
  color: #fcd66c;
  font-size: 1.2rem;
}
